
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create profile</title>
  </head>
  <body>
    <form method="POST" action="/">
      Username:<input type="text" style="color:#888;" title="Username" name="name" onfocus="infocus(this)"
      onblur="inputblur(this)"/>
      <br>
      Password:<input type="text" style="color:#888;" name="password" title = "Password" onfocus="infocus(this)"
      onblur="inputblur(this)"/>
      <br>
        <input type="submit" name="submit" value="Log in"/>
    </form>
    <button type="button" name="createProfileButton" onclick="location.href='/create_profile'">Create profile</button>
  </body>
</html>
