<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Profile</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <form method="POST" action="/">
        <fieldset>
          <legend>Log In Details</legend>
          <p>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required />
          </p>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required />
          </p>
          <button type="submit" name="submit" onclick="location.href='/main'">Log In</button>
        </fieldset>
    </form>
  </body>
</html>
