<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"
    <link rel="stylesheet" href="styles.css" />
    <script src="helpers.js"></script>
    <script src="main.js"></script>
    <title>main</title>
  </head>
  <body>
    <!-- <header>
      <h1>Empower</h1>
      <p>Every woman deserves the right to drive!</p>
    </header>
    <main>
      <div>
        <div>
        </div>
      </div>
    </main> -->
    <!-- put location search at bottom of page,
          add search button
          change box to have address, and options of what to report with a submit report button
          show location at center of screen, add badge to pin-->
    <div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY1zdublfl9w2RejcbhUmRZs6FdQ_NY5E">
    </script>
    <script src="/__/firebase/7.2.0/firebase-app.js"></script>
    <script src="/__/firebase/7.2.0/firebase-database.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.2.0/firebase-analytics.js"></script>
    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAFjUqJzKXfwmjHVRyS_JvcaLEFuq1wx2Q",
        authDomain: "empowerindia.firebaseapp.com",
        databaseURL: "https://empowerindia.firebaseio.com",
        projectId: "empowerindia",
        storageBucket: "empowerindia.appspot.com",
        messagingSenderId: "296618982622",
        appId: "1:296618982622:web:b5bc380de60351fbd7564f",
        measurementId: "G-9PKNLFKNYP"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
    <script src="/__/firebase/init.js"></script>
</html>
