@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');

body {
  font-family: 'Cardo', serif;
  text-align: center;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
html, #map, body {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  margin: 0;
  padding: 0;
}
