@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');

body {
  font-family: 'Cardo', serif;
  text-align: center;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
html, #map, body {
  height: 100%;
}

#map {
  height: 80rem;
}

#map, button {
  margin-bottom: 5rem;
}

#search-item {
  width: 20rem;
}

#search-item, button {
  height: 5rem;
  border: solid black;
  border-radius: 0.5rem;
}

button {
  font-size: 2rem;
  width: 10rem;
  cursor: pointer;
  margin-left: 2rem;
}
